@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
body {
  margin: 0;
  font-family: 
  'Sacramento', cursive;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-color: #ff9800;
  color:white;
  text-align:center;
  font-size: x-large;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button{
  font-family: 
  'Sacramento', cursive;
  background-color: #ff9800;
  border-style: solid;
  border-color:linear-gradient(135deg, #f2825b 0%,#e55b2b 50%,#f07146 100%);
  color:#bf360c;
  font-size: xx-large;
  font-weight: bolder;

}
input{
  font-family: 
  'Sacramento', cursive;
  background-color:rgba(0, 0, 0, 0.0);
  height:40px;
  text-align:center;
  border-color:#bf360c;
  border-left: none;
  border-right:none;
  border-top:none;
  color:white;
  font-weight: bolder;

}
input:focus{
  background-color:rgba(0, 0, 0, 0.0);
  border:none
}
.sb{
height:40px;
width:75px;
margin:2px;
border-radius: 50%;
}